<p>overall works!</p>


<button type="button" class="btn btn-warning" (click)=addMethod()>Add Item</button>
<br>
<br>
<p>{{data}}</p>

<br>
<br>
<h1>Two Way Binding</h1>
<input type ="text" class="form-control" [(ngModel)] = twoWayBinding>
<p>{{twoWayBinding}}</p>
<br>
<br>  <!-- Form Databinding-->
<input type ="text" class="form-control" placeholder="Enter Your Name" [(ngModel)] = namList>
  <button type="button" class="btn btn-warning" (click)=nameMethod()>Add Your Name</button>
  <br>
  <p>{{greetingsName}}</p>
<hr>
<br>
<br>

<input type ="text" class="form-control" [(ngModel)]=dataV2>

<button type="button" class="btn btn-success" (click)="clickButton()">Click</button>

<p *ngIf="loopStatement">The You Have Enter Number {{dataV2}}</p>

<br/>

<br/>


<hr/>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <label>Server Name</label>
      <input type="text" class="form-control" [(ngModel)]="newServerName">
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer()">Add Server</button>&nbsp;&nbsp;
      <button
        class="btn btn-primary"
        (click)="onAddBlueprint()">Add Server Blueprint</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <div
        class="panel panel-default"
        *ngFor="let element of serverElements">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

<br/>

<hr>

<h1>@input </h1>


<p>{{message}}</p>
<br/>

<br/>
