
<div class="container">

  <div class="row">

    <div class="col-xs-12">
      <h2>{{title}}</h2>

<h2 class="alignText">@Input</h2>
<input type ="text" [(ngModel)]= 'name'>
<app-overall [message]='name'></app-overall>

<hr>
<h2 class="alignText">Parent To Child</h2>
<app-parent></app-parent>
<hr>
<h1 class="bg"> App Component </h1>
<app-servers></app-servers>  <!--nested components-->
    </div>
  </div>
</div>




<!--Overall Components-->

<!--
<div class="container">

  <div class="row">
    <div class="col-xs-12">
  <h1 style="text-align:center">Overall </h1>
  <hr>
<app-overall> </app-overall>
    </div>
  </div>
</div> -->

